<h1>Listing recordings</h1>

<% if defined?(@search_args) && (!@search_args.strip.empty?) %>
  <p>Searching for <%= @search_field rescue nil %> <i><%= @search_args %></i></p>
<% end %>

<table>
  <tr>
    <th>Folder</th>
    <th>File</th>
    <th>Album</th>
    <th>Artist</th>
    <th>Title</th>
    <th>Label</th>
    <th>Year</th>
    <th>Uploaded</th>
  </tr>

<% @recordings.each do |recording| %>
  <tr class="<%= recording.class.name.underscore %> <%= cycle("even", "odd") %>" >
    <td><%=h recording.folder %></td>
    <td><a href="<%= recording.ftp_url %>"><%=h recording.file_abbrev 40 %></a></td>
    <td><%=h recording.album %></td>
    <td><%=h recording.artist %></td>
    <td><%=h recording.title %></td>
    <td><%=h recording.label %></td>
    <td><%=h recording.year %></td>
    <td><%=h recording.uploaded_at %></td>
 <!--   <td><%= link_to 'Full', recording %></td> -->
    <td><%= link_to 'Edit', edit_recording_path(recording) %></td>
<!--    <td><%= link_to 'Destroy', recording, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recording', new_recording_path %>
